extends ../layouts/navbar
include ../components/successerrorbox

block content
    if adminMode
        h1 Managed Quiz Reports (Admin)
    else
        h1 Managed Quiz Reports
    p Select a quiz you are managing from the list below

    +successerror(sucmsg, errmsg)

    table#reportQuizTable.table.w-100

    include ../meta/datatables
    include ../meta/momentjs

    script.
        $(document).ready(() => {
            let table;
            table = $('#reportQuizTable').DataTable({
                ajax: '#{dataLink}',
                dom: 'rftilp',
                select: 'single',
                responsive: true,
                deferRender: true,
                order: [[3, 'desc']],
                columns: [
                    {title: "Quiz Name", data: "quizname"},
                    {title: "Course", data: null, render: (data) => {return `[${data.coursecode}] ${data.coursename}`}},
                    {title: "Description", data: "description"},
                    {title: "Start Time", data: null, render: (data) => {return moment(new Date(data.start)).format('DD MMMM YYYY HH:mm');}},
                    {title: "End Time", data: null, render: (data) => {return (data.end) ? moment(new Date(data.end)).format('DD MMMM YYYY HH:mm') : 'Permenant';}},
                    {title: "Attempted by Students", data: null, render: (data) => {return `${data.doneStudents}/${data.totalStudents}`;}},
                    {title: "active", data: "active", visible: false},
                    {title: "Still Active", data: null, className: 'dt-body-center text-center',
                        render: (data) => {return (data.active) ? "<i class='fad fa-check-circle text-success fa-lg'></i>" : "<i class='fad fa-times-circle text-danger fa-lg'></i>";}}
                ]
            });

            $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });
            table.on('select', (e,dt,type,indexes) => {
                let rowData = table.rows( indexes ).data().toArray()[0];
                window.location.href = `/reports/students/${rowData.quizid}`;
            });
            table.on('draw', () => MathJax.typesetPromise())
        });
