extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1 Bulk Assign Users to [#{data.code}] #{data.name}
    p Use this page to upload a CSV file to assign users to this course
    +successerror(sucmsg, errmsg)
    if dataerror
        .alert.alert-danger(role='alert')= `Import completed with errors adding ${dataerror.length} users`
    if datasuccess
        .alert.alert-success(role='alert') Successfully imported users!
    form#uploadform(action=`/course/importusers/${data.id}`, method='post', enctype='multipart/form-data')
        .form-group.input-group
            .custom-file
                input#importer(type='file', name='assignusers', required=true, accept='text/csv').custom-file-input
                label(for="importer").custom-file-label Upload User List CSV file
        small#importerHelp.form-text.text-muted You can drag and drop a CSV file into the field to upload
        .mt-3
            button.btn.btn-primary(type='submit') Assign Users
            a.btn.btn-danger.ml-2(href=`/course/assign/${data.id}`) Cancel
    h2.mt-4 How to use
    p Download the following CSV file and populate accordingly
    a.btn.btn-warning(href='/importfiles/assign_user_course.csv', download=true) Download CSV file
    h4.mt-3 Status (2nd column in CSV)
    p If left blank or invalid, it will default to students
    ul
        li -1 -> Remove from course
        li 0 -> Student
        li 1 -> Instructor
    include ../meta/customfileinput