extends ../layouts/navbar
include ../components/successerrorbox
include ../components/deleteform
include ../components/endbeforestartvalidation
include ../components/inputlengthvalidation

block content
    h1= `Edit Course [${data.code}] ${data.name}`
    +successerror(sucmsg, errmsg)

    form(action=`/course/edit/${data.id}`, method='post', novalidate=true).needs-validation
        .form-group.required
            label(for='coursecode') Course Code
            input.form-control#coursecode(type='text', placeholder='Course Code (e.g CZ2001)', required=true, name='code', value= data.code, maxlength=50)
            div.invalid-feedback Requires Course Code
        .form-group.required
            label(for='name') Course Name
            input.form-control#name(type='text', placeholder='Course Name', required=true, name='name', value= data.name)
            div.invalid-feedback Course Name is required
        table.table.table-borderless
            tr
                td.p-0.pr-2
                    .form-group.required
                        label(for='startdate') Start Date
                        input.form-control#startdate(type='date', placeholder='dd/mm/yyyy', required=true, name='startdate', value= data.st, maxlength=50)
                        div.invalid-feedback Please set start date of course
                td.p-0
                    .form-group
                        if (data.permenant)
                            label(for='enddate') End Date
                            input.form-control#enddate(type='date', placeholder='dd/mm/yyyy', name='enddate', value= data.et, disabled=true)
                            small#enddateHelp.form-text.text-muted Can be empty for permenant course
                        else
                            label(for='enddate') End Date
                            input.form-control#enddate(type='date', placeholder='dd/mm/yyyy', name='enddate', value= data.et)
                            small#enddateHelp.form-text.text-muted Can be empty for permenant course
                        div.invalid-feedback Start date cannot be before End Date
                    .form-group.form-inline
                        .form-check
                            if (data.permenant)
                                input.form-control#noend(type='checkbox', name='noend', checked=true)
                                label.form-check-label.ml-2(for='noend') No End Date
                            else
                                input.form-control#noend(type='checkbox', name='noend')
                                label.form-check-label.ml-2(for='noend') No End Date
        button.btn.btn-primary(type='submit') Update Course
        a.btn.btn-danger.ml-2(href='/course/list') Cancel
        +deleteForm(`/course/delete/${data.id}`, 'deleteCourse', `You are about to delete ${data.code} (${data.name}). Are you sure you want to continue? This action cannot be reversed!`, 'Delete Course')

        include ../meta/datepicker
        +endBeforeStartValidation('startdate', 'enddate', 'End Date cannot be before Start Date', 'noend')
        include ../meta/formvalidation
        +lengthvalidation('#coursecode')
