link(rel='stylesheet', href='/css/surveystylesheet.css')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans&display=swap')
link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z', crossorigin='anonymous')

block content
  form(method='post' action='/survey/submit')
    .surveySection
      h3#surveyTitle Feedback for !{submissionData.quizname}
      input#userid(type='text' name='userid' value=loginId readonly='')
      br
      input#quizid(type='text' name='quizid' value=`${submissionData.quizid}` readonly='')
      .center
      p#surveyDescription.surveyDescription Please rate the quiz experience on a scale of 1-5, 1 being the lowest (poor), 5 being the highest (great)
      p#miniText *You need to complete this survey to proceed
      .stayLeft
        .stars
          input#five(type='radio' name='rating' value='5')
          label(for='five')
          input#four(type='radio' name='rating' value='4')
          label(for='four')
          input#three(type='radio' name='rating' value='3')
          label(for='three')
          input#two(type='radio' name='rating' value='2')
          label(for='two')
          input#one(type='radio' name='rating' value='1')
          label(for='one')
            
      .form-group.required 
      textarea#feedback(name='feedback' rows='3' cols='50' placeholder='Enter your feedback here' maxlength="300")
      br
      br
      button#btnSubmitFeedback.btn.btn-primary(type='submit' disabled='disabled') Submit

        script.
          $(document).ready(function(){
          $('#btnSubmitFeedback').click(function(){
            setTimeout(function(){ 
                window.stop(); 
                document.getElementById("surveyTitle").innerHTML = "Closing survey window...";
                document.getElementById("surveyDescription").innerHTML = "Thank you for your time, your feedback has been received!";
                $("#miniText").hide();
                $(".stars").hide();
                $("#feedback").hide();
                $("#btnSubmitFeedback").hide();
              }, 1000);
            });

            $('#btnSubmitFeedback').click(function(){
            setTimeout(function(){ 
                window.stop(); 
                $('.close').click(); 
              }, 3000);
            });
          
            $("#feedback").keyup(function(){
              if ($('input[name=rating]:checked').length > 0 && document.getElementById("feedback").value != '') {
                  $('#btnSubmitFeedback').removeAttr('disabled');
              }else{
                  $('#btnSubmitFeedback').attr('disabled', 'disabled');
              }
          });
            $('input[type="radio"]').on('click change', function(e) {
              if ($('input[name=rating]:checked').length > 0 && document.getElementById("feedback").value != '') {
                  $('#btnSubmitFeedback').removeAttr('disabled');
              }else{
                  $('#btnSubmitFeedback').attr('disabled', 'disabled');
              }
          });
            
          });



