script.
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            let forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            let validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    let result = true;
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                        result = false;
                    }
                    form.classList.add('was-validated');
                    if (typeof postFormCheckCallback === "function") postFormCheckCallback(result, event);
                }, false);
            });
        }, false);
    })();