meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

title #{title} - #{appName}

// JQuery
//script(src='https://code.jquery.com/jquery-3.5.1.min.js', integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=', crossorigin='anonymous')
script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')

// Bootstrap
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans&display=swap')
link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z', crossorigin='anonymous')


// Font Awesome
script(defer, src='/js/all.js')
link(rel='stylesheet', href='/css/all.css')

link(rel='stylesheet', href='/stylesheets/style.css')

// Custom Stylesheets
link(rel='stylesheet', href='/css/stylesheet.css')
link(rel='stylesheet', type='text/css', href='/css/main.css')

// Javascript
script(src='/js/main.js')
script(src='/js/popper.min.js')
script(src='/js/clipboard.min.js')
