include ./readonlycode

mixin codeEditor(initialText, size=0)
    if size===0
        .code-editor#codeEditor= initialText
    else if size === 1
        .code-editor-small#codeEditor= initialText
    else
        .code-editor-resize#codeEditor= initialText

    script(src='/js/ace/ace.js', type='text/javascript', charset='utf-8')
    script(src='/js/ace/ext-language_tools.js', type='text/javascript', charset='utf-8')
    +readonlycode()
    script.
        ace.require("ace/ext/language_tools");
        let editor = ace.edit("codeEditor");
        editor.setTheme(`ace/theme/tomorrow_night`);
        editor.session.setMode(`ace/mode/text`);
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true,
        });

        function setlanguage(lang, havetemplate = true, setname = null, readonly=false) {
            let editor = ace.edit("codeEditor");
            $.ajax({
                url: `/editor/config/${lang}`,
                dataType: 'json',
                async: true,
                success: (data) => {
                    console.log(`Switching to ${data.type}`);
                    editor.session.setMode(`ace/mode/${data.type}`);
                    if (havetemplate) editor.session.setValue(data.template);
                    if (readonly) refreshCodeCall(data.editLang.locked);
                    if (setname) $(setname).val(data.editLang.defaultFilename);
                }
            });
        }
