mixin loading(loadText='Loading...', hideLoadText=false)
    .spinner-box#loading
        svg.spinner(width="65px", height="65px", viewBox="0 0 66 66", xmlns="http://www.w3.org/2000/svg")
            circle.spinner-path(fill="none", stroke-width="6", stroke-linecap="round", cx="33", cy="33", r="30")
            span.sr-only= loadText
    unless hideLoadText
        div.mt-3.spinner-box#loadingtext= loadText