mixin readonlycode()
    script.
        function set_readonly(editor, readonly_ranges) {
            let session = editor.getSession(), Range = require("ace/range").Range;
            let ranges = [];

            function before(obj, method, wrapper) {
                let orig = obj[method];
                obj[method] = function () {
                    let args = Array.prototype.slice.call(arguments);
                    return wrapper.call(this, function () {
                        return orig.apply(obj, args);
                    }, args);
                }
                return obj[method];
            }

            function intersects(range) {
                return editor.getSelectionRange().intersects(range);
            }

            function intersectsRange(newRange) {
                for (let i = 0; i < ranges.length; i++)
                    if (newRange.intersects(ranges[i]))
                        return true;
                return false;
            }

            function preventReadonly(next, args) {
                for (let i = 0; i < ranges.length; i++) {
                    if (intersects(ranges[i])) return;
                }
                next();
            }

            function onEnd(position) {
                let row = position["row"], column = position["column"];
                for (let i = 0; i < ranges.length; i++)
                    if (ranges[i].end["row"] === row && ranges[i].end["column"] === column)
                        return true;
                return false;
            }

            function outSideRange(position) {
                let row = position["row"], column = position["column"];
                for (let i = 0; i < ranges.length; i++) {
                    if (ranges[i].start["row"] < row && ranges[i].end["row"] > row)
                        return false;
                    if (ranges[i].start["row"] === row && ranges[i].start["column"] < column) {
                        if (ranges[i].end["row"] !== row || ranges[i].end["column"] > column)
                            return false;
                    } else if (ranges[i].end["row"] === row && ranges[i].end["column"] > column) {
                        return false;
                    }
                }
                return true;
            }

            for (let i = 0; i < readonly_ranges.length; i++) {
                ranges.push(new Range(...readonly_ranges[i]));
            }
            ranges.forEach(function (range) {
                session.addMarker(range, "readonly-highlight");
            });
            editor.keyBinding.addKeyboardHandler({
                handleKeyboard: function (data, hash, keyString, keyCode, event) {
                    if (Math.abs(keyCode) === 13 && onEnd(editor.getCursorPosition())) {
                        return false;
                    }
                    if (hash === -1 || (keyCode <= 40 && keyCode >= 37)) return false;
                    for (let i = 0; i < ranges.length; i++) {
                        if (intersects(ranges[i])) {
                            return {command: "null", passEvent: false};
                        }
                    }
                }
            });
            before(editor, 'onPaste', preventReadonly);
            before(editor, 'onCut', preventReadonly);
            for (let i = 0; i < ranges.length; i++) {
                ranges[i].start = session.doc.createAnchor(ranges[i].start);
                ranges[i].end = session.doc.createAnchor(ranges[i].end);
                ranges[i].end.$insertRight = true;
            }

            let old$tryReplace = editor.$tryReplace;
            editor.$tryReplace = function (range, replacement) {
                return intersectsRange(range) ? null : old$tryReplace.apply(this, arguments);
            }
            let oldInsert = session.insert;
            session.insert = function (position, text) {
                return oldInsert.apply(this, [position, outSideRange(position) ? text : ""]);
            }
            let oldRemove = session.remove;
            session.remove = function (range) {
                return intersectsRange(range) ? false : oldRemove.apply(this, arguments);
            }
            let oldMoveText = session.moveText;
            session.moveText = function (fromRange, toPosition, copy) {
                if (intersectsRange(fromRange) || !outSideRange(toPosition)) return fromRange;
                return oldMoveText.apply(this, arguments);
            }

        }
        function refresheditor(id, content, readonly) {
            let editor = ace.edit(id);
            set_readonly(editor, readonly);

        }

        function get_readonly_by_db(id, dblines, content) {
            let starts = [], ends = [];
            let tags = dblines.split(',');
            tags.forEach((lineVal) => {
                if (lineVal === "") return; // NOOP
                let d = lineVal.split('-');
                starts.push(parseInt(d[0]));
                if (d.length >= 2 && d[1] === d[0]) {
                    ends.push(parseInt(d[1]) + 1);
                } else if (d.length >= 2 && d[1] !== "") {
                    ends.push(parseInt(d[1]) + 1);
                } else if (d.length < 2) {
                    ends.push(parseInt(d[0]+1));
                }
            });
            let readonly_ranges = [];
            for (let i = 0; i < starts.length; i++) {
                readonly_ranges.push([starts[i], 0, ends[i], 0])
            }
            refresheditor(id, content, readonly_ranges);
        }

        function refreshCodeCall(lockedlines) {
            let content = ace.edit("codeEditor").session.getValue();
            get_readonly_by_db("codeEditor", lockedlines, content);
        }
