extends layouts/navbar

block content
    //include layouts/sidebar
    
    .container-fluid.p-0
    .side-body
        
        .row
            .col
                h1 Dashboard
        .row
            .col
                h2.float-left Available Quizzes
                a.btn.btn-primary.float-right(href='/editor') Go to Test Editor
        .row
            .col
                table#availQuizTable.table.w-100
                script.
                    $(document).ready(() => {
                        let quizTable = $('#availQuizTable').DataTable({
                            ajax: '/data/availableQuiz',
                            dom: 'Brftilp',
                            pageLength: 5,
                            lengthMenu: [5, 10, 20, 50, 100],
                            deferRender: true,
                            buttons: [{
                                text: 'Show All',
                                action: (e, dt, button) => {
                                    if (quizTable.column(5).search() === 'false') {
                                        button.text('Show Unattempted Only');
                                        quizTable.column(5).search('').draw();
                                    } else {
                                        button.text('Show All');
                                        quizTable.column(5).search('false').draw();
                                    }
                                }
                            }],
                            responsive: true,
                            columns: [
                                {title: "Quiz Name", data: "quizname"},
                                {title: "Course Name", data: "coursename"},
                                {title: "Description", data: "description"},
                                {title: "Start Time", data: null, render: (data) => {return moment(new Date(data.start)).format('DD MMMM YYYY HH:mm');}},
                                {title: "End Time", data: null, render: (data) => {return (data.end) ? moment(new Date(data.end)).format('DD MMMM YYYY HH:mm') : 'Permenant';}},
                                {title: "attempted", data: "attempted", visible: false},
                                {
                                    title: "Attempted",
                                    data: null,
                                    className: 'dt-body-center text-center',
                                    render: (data) => {
                                        return (data.attempted) ? "<i class='fad fa-check-circle text-success fa-lg'></i>" : "<i class='fad fa-times-circle text-danger fa-lg'></i>";
                                    }
                                },
                                {
                                    title: "Actions",
                                    className: 'details-control',
                                    orderable: false,
                                    data: null,
                                    render: (data) => {
                                        return `<a href="/course/info/${data.courseid}" class="btn btn-outline-secondary" data-toggle="tooltip" title="View Course" data-placement="bottom"><i class="fa fa-book-open"></i></a>` +
                                            `<a href="/course/info/${data.courseid}/${data.quizid}/start?red=home" class="btn btn-outline-success ml-1" data-toggle="tooltip" title="Do Quiz" data-placement="bottom"><i class="fa fa-pencil"></i></a>`;
                                    },
                                }
                            ]
                        });
                        quizTable.on('draw', () => MathJax.typesetPromise());
                        quizTable.on('init', () => quizTable.column(5).search('false').draw()); // Show only active items
                        $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });
                    });
        if (hasPermission("viewquizreport"))
            .row
                .col
                    h2 Managed Quizzes
            .row
                .col
                    table#managedQuizTable.table.w-100
                    script.
                        $(document).ready(() => {
                            let manTable = $('#managedQuizTable').DataTable({
                                ajax: '/data/managedQuiz',
                                dom: 'Brftilp',
                                pageLength: 5,
                                lengthMenu: [5, 10, 20, 50, 100],
                                deferRender: true,
                                buttons: [{
                                    text: 'Show All',
                                    action: (e, dt, button) => {
                                        if (manTable.column(5).search() === 'true') {
                                            button.text('Show Active Only');
                                            manTable.column(5).search('').draw();
                                        } else {
                                            button.text('Show All');
                                            manTable.column(5).search('true').draw();
                                        }
                                    }
                                }],
                                responsive: true,
                                columns: [
                                    {title: "Quiz Name", data: "quizname"},
                                    {title: "Course Name", data: "coursename"},
                                    {title: "Description", data: "description"},
                                    {
                                        title: "Start Time", data: null, render: (data) => {
                                            return moment(new Date(data.start)).format('DD MMMM YYYY HH:mm');
                                        }
                                    },
                                    {
                                        title: "End Time", data: null, render: (data) => {
                                            return (data.end) ? moment(new Date(data.end)).format('DD MMMM YYYY HH:mm') : 'Permenant';
                                        }
                                    },
                                    {title: "active", data: "active", visible: false},
                                    {
                                        title: "Is Active",
                                        data: null,
                                        className: 'dt-body-center text-center',
                                        render: (data) => {
                                            return (data.active) ? "<i class='fad fa-check-circle text-success fa-lg'></i>" : "<i class='fad fa-times-circle text-danger fa-lg'></i>";
                                        }
                                    },
                                    {
                                        title: "Actions",
                                        className: 'details-control',
                                        orderable: false,
                                        data: null,
                                        render: (data) => {
                                            let urls = `<a href="/course/info/${data.courseid}" class="btn btn-outline-secondary" data-toggle="tooltip" title="View Course" data-placement="bottom"><i class="fa fa-book-open"></i></a>` +
                                                `<a href="/course/info/${data.courseid}/${data.quizid}/overview" class="btn btn-outline-secondary ml-1" data-toggle="tooltip" title="Edit Quiz" data-placement="bottom"><i class="fa fa-edit"></i></a>` +
                                                `<a href="/reports/students/${data.quizid}?dashboard=1" class="btn btn-outline-secondary ml-1" data-toggle="tooltip" title="View Quiz Report" data-placement="bottom"><i class="fa fa-file-alt"></i></a>`;
                                            if (data.active) urls += `<a href="/course/info/${data.courseid}/${data.quizid}/start?red=home" class="btn btn-outline-success ml-1" data-toggle="tooltip" title="Enter Quiz" data-placement="bottom"><i class="fa fa-arrow-right"></i></a>`;

                                            return urls;
                                        },
                                    }
                                ]
                            });
                            manTable.on('draw', () => MathJax.typesetPromise());
                            manTable.on('init', () => manTable.column(5).search('true').draw()); // Show only active items
                            $("body").tooltip({selector: '[data-toggle=tooltip]', trigger: 'hover'});
                        });
    include meta/momentjs
    include meta/datatables
