extends layouts/navbar
include components/successerrorbox
include components/editor
include components/loading

block content
    // This is used as a drawing board in a sense for various features
    h2 Test Code Editor
    +successerror(sucmsg, errmsg)

    .container-fluid.p-0
        .row
            .col
                select#codeSelector.custom-select.w-50
                    optgroup(label="Coding Languages")
                        each editor in codeedit
                            option(value=editor.templatekey)= editor.name
                    optgroup(label="Other Languages")
                        each editor in otheredit
                            option(value=editor.templatekey)= editor.name
            .col
                .form-group.form-inline
                    .form-check
                        input.form-control#autocomplete(type='checkbox', name='noend', checked=true)
                        label.form-check-label.ml-2(for='autocomplete') Autocomplete
                    .form-check.ml-4
                        input.form-control#autocompleteMan(type='checkbox', name='acmnan')
                        label.form-check-label.ml-2(for='autocompleteMan') Manual Autocomplete
            .col
                .form-group
                    input.form-control#name(type='text', placeholder='Filename', required=true, name='filename')
        .row
            .col
                +codeEditor()
        .row.mt-3#inShell.collapse
            .col
                p Enter Input:
                textarea#customInput(rows="5").w-100
            .col
                button.btn.btn-primary.mt-5#submitCode(type="button").
                    #[i.fa.fa-play]    Run Custom Input Code
        .row.mt-3
            .col
                .card#outShell.collapse
                    .card-header Code Output
                    .card-body
                        h4.card-title= "Status: "
                            span#outStatus Unknown
                        .container-fluid.p-0
                            .row
                                .col
                                    h5 Output
                                    span#outResult.newlinesupport
                                .col#outErrCol.invisible
                                    h5 Errors
                                    span#outErr.color-red.newlinesupport No errors
                        +loading('', true)

    script.
        let cs = $('#codeSelector');
        function updateFilename(lang) {
            let n = $('#name');
            let inS = $('#inShell');
            $.ajax({
                url: `/editor/config/${lang}`,
                dataType: 'json',
                async: true,
                success: (data) => {
                    let el = data.editLang;
                    let needsStuff = false;
                    if (el.needfilename === 1) needsStuff = true;
                    n.prop('disabled', !needsStuff);
                    n.prop('required', needsStuff);
                    n.val(el.defaultFilename);
                    inS.collapse((data.editLang.compilerSupport === 1) ? 'show' : 'hide');
                }
            });
        }
        cs.on('change', (e) => {
            let data = $(e.target);
            console.log(data.val());
            setlanguage(data.val());
            updateFilename(data.val());
        });
        setlanguage(cs.val());
        updateFilename(cs.val())
        $('#autocomplete').on('change', (e) => {
            let state = $(e.target).prop('checked');
            let acstate = $('#autocompleteMan').prop('checked');
            ace.edit("codeEditor").setOptions({enableBasicAutocompletion: state, enableSnippets: state, enableLiveAutocompletion: (state && !acstate)});
        });
        $('#autocompleteMan').on('change', () => {ace.edit("codeEditor").setOptions({enableLiveAutocompletion: !$('#autocompleteMan').prop('checked')});});
        let masterKey;
        function refreshOutput(key) {
            if (key !== masterKey) return;
            $.ajax({
                url: `/editor/progress/${key}`,
                dataType: 'json',
                async: true,
                success: (data) => {
                    $("#outStatus").text(data.status);
                    if (!data.completed) setTimeout(() => {refreshOutput(key);}, 500);
                    else {
                        $("#loading").hide();
                        $("#outResult").text(data.result.stdout);
                        if (data.result.stderr || data.result.error) {
                            $("#outErr").text((data.result.stderr + "\n" + data.result.error));
                            $("#outErrCol").removeClass("invisible");
                        }
                    }
                }
            });

        }
        $('#submitCode').click(() => {
            let editor = ace.edit("codeEditor");
            let theData = {language: cs.val(), input: $("#customInput").val(), filename: $("#name").val(), code: editor.session.getValue()};
            $("#loading").show();
            $("#outStatus").text("Sending to Server");
            $("#outResult").text("");
            $("#outErr").text("");
            let outcol = $("#outErrCol");
            let outS = $("#outShell");
            if (!outcol.hasClass("invisible")) outcol.addClass("invisible");
            outS.collapse('show');
            $.ajax({
                url: `/editor/compile/practice`,
                type: 'post',
                data: theData,
                dataType: 'json',
                async: true,
                success: (data) => {
                    if (data.success) {
                        masterKey = data.output;
                        refreshOutput(data.output)
                    }
                    else {
                        $("#outStatus").text(data.status);
                        $("#outResult").text(data.output);
                        $("#loading").hide();
                    }
                }
            });
        });
