.modal{
  padding-right: 0 !important;

}
.modal-content{
  min-width: 100% !important;
  margin: 0;
  min-height: 100vh !important;
}
.modal-open{
  overflow-y: hidden;
}
.modal-dialog{
  max-width: 100% !important;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  margin: 0 !important;
}
#SurveyModal{
  padding: 0;
}
.close{
  display: none;
}
.open{
  display: none;
}
.surveySection{
    background-color: whitesmoke;
    width: 100%;
    border: rgb(122, 122, 122) solid 2px;
    padding: 30px;
    border-radius: 15px;
}
#userid, #quizid{
  display: none;
}
#miniText{
  font-size: 10pt;
  color: red;
}
.surveyDescription{
    font-family: sans-serif;
    font-size: 14;
    font-weight: bold;
    color: #383838;
}

.stayLeft{
  text-align: center;
  padding-right: 40%;
}
.center .stars{
    height: 100px;
    width: 260px;
    text-align: center;
  }
.stars input{
    display: none;
    left: 0;
  }
.stars label{
  float: right;
  left: 0;
  font-size: 70px;
  color: lightgrey;
  margin: 0 5px;
  text-shadow: 1px 1px #bbb;
}
.stars label:before{
  content: '★';
}
.stars input:checked ~ label{
  color: gold;
  text-shadow: 1px 1px #c60;
}
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label{
  color: gold;
}
.stars input:checked > label:hover,
.stars input:checked > label:hover ~ label{
  color: gold;
  text-shadow: 1px 1px goldenrod;
}
.stars .result:before{
  position: absolute;
  content: "";
  width: 100%;
  left: 50%;
  transform: translateX(-47%);
  bottom: -30px;
  font-size: 20px;
  font-weight: 300;
  color: gold;
  font-family: 'Poppins', sans-serif;
  display: none;
}
#feedback{
    background-color: #f0f0f0;
    width: 100%;
    max-height: 80px;
    padding: 10px;
    border-radius: 10px;
}
#btnSubmitFeedback{
  min-width: 10%;
}


