

.container-fluid.p-0
    .row
        .col
            h4.mt-2 Quiz Options
            span.text-muted Randomize Password will let instructors generate an One Time Password (OTP) to access the quiz
    .row
        .col
            .form-group
                label(for='password') Password
                input.form-control#password(type='text', name='password', disabled=true, value=data.password)
        .col.align-self-center
            .form-group
                .form-check
                    if (data.passwordgen || data.password)
                        input.form-check-input#passwordEnable(type='checkbox', name='passwordEnable', checked=true)
                        label.form-check-label.ml-2(for='passwordEnable') Enable Quiz Password
                    else
                        input.form-check-input#passwordEnable(type='checkbox', name='passwordEnable')
                        label.form-check-label.ml-2(for='passwordEnable') Enable Quiz Password
                .form-check
                    if (data.passwordgen)
                        input.form-check-input#randomPassword(type='checkbox', name='randomPassword', disabled=true, checked=true)
                        label.form-check-label.ml-2(for='randomPassword') Randomize Password
                    else
                        input.form-check-input#randomPassword(type='checkbox', name='randomPassword', disabled=true)
                        label.form-check-label.ml-2(for='randomPassword') Randomize Password
    .row
        .col-6
            .form-group
                label(for='otplimit') OTP Time Limit (Seconds)
                input.form-control#otplimit(type='number', name='otplimit', value= data.otptimelimit, min=0)
                small#otplimitHelp.form-text.text-muted Time in seconds for OTP Time Limit (Default: #{data.otptimelimitdef} seconds)
                div.invalid-feedback Time limit must be positive. Set to 0 for default time limit


script.
    (function () {
        'use strict';

        window.addEventListener('load', () => {
            pwchk();
        });

        function pwchk() {
            // Do a check to toggle accordingly
            let randPwId = $('#randomPassword');
            let enabled = $('#passwordEnable').prop('checked');
            randPwId.prop('disabled', (enabled) ? '' : 'true');
            if (enabled && !randPwId.prop('checked')) {
                $('#password').prop('disabled', '');
                $('#otplimit').prop('disabled', 'true');
            } else {
                $('#password').prop('disabled', 'true');
                if (enabled) $('#otplimit').prop('disabled', '');
                else $('#otplimit').prop('disabled', 'true');
            }
        }

        $('#passwordEnable,#randomPassword').on('change', (e) => pwchk());
    })();