

.container-fluid.p-0
    .row
        .col
            h4.mt-2 Completion Options
            span.text-muted Modifies what happens after a quiz is completed
    .row.mt-2
        .col
            .form-group.required
                label(for='showgrade') Show Quiz Grade to Students
                select.form-control#showgrade(required=true, name='showgrade')
                    if data.showgrade === 0
                        option(value="0", selected=true) Never
                    else
                        option(value="0") Never
                    if data.showgrade === 1
                        option(value="1", selected=true) After Quiz Attempt
                    else
                        option(value="1") After Quiz Attempt
                    if data.showgrade === 2
                        option(value="2", selected=true) After Quiz Closes
                    else
                        option(value="2") After Quiz Closes
                span.text-muted *Note: Quiz Grades are still visible to the instructors.
        .col
            .form-group.required
                label(for='studentreport') Allow Students to View Report
                select.form-control#studentreport(required=true, name='studentreport')
                    if data.studentreport === 0
                        option(value="0", selected=true) Never
                    else
                        option(value="0") Never
                    if data.studentreport === 1
                        option(value="1", selected=true) After Quiz Attempt
                    else
                        option(value="1") After Quiz Attempt
                    if data.studentreport === 2
                        option(value="2", selected=true) After Quiz Closes
                    else
                        option(value="2") After Quiz Closes