extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1 Bulk Create Users
    p This page allows you to upload a CSV file to bulk create new users
    +successerror(sucmsg, errmsg)
    if dataerror
        .alert.alert-danger(role='alert')= `Import completed with errors adding ${dataerror.length} users`
    if datasuccess
        .alert.alert-success(role='alert') Successfully imported users!
    form#uploadform(action='/users/import', method='post', enctype='multipart/form-data')
        .form-group.input-group
            .custom-file
                input#importer(type='file', name='importedusers', required=true, accept='text/csv').custom-file-input.form-control
                label(for="importer").custom-file-label Upload User List CSV file
        small#importerHelp.form-text.text-muted You can drag and drop a CSV file into the field to upload
        .mt-3
            button.btn.btn-primary(type='submit') Import Users
            a.btn.btn-danger.ml-2(href='/users/list') Cancel
    h2.mt-4 How to use
    p Download the following CSV file to populate
    a.btn.btn-warning(href='/importfiles/user_import.csv', download=true) Download CSV file
    .container.mt-3
        .row
            .col
                h3 Some reference for CSV file
        .row
            .col
                h4 Departments (use the left value in the CSV file)
                ul
                each dept in departments
                    li= `${dept.shortname} - ${dept.fullname}`
            .col
                h4 Roles (use the left value in the CSV file)
                ul
                each role in roles
                    li= `${role.key} - ${role.name}`
    include ../meta/customfileinput