extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1= quiz.name
    +successerror(sucmsg, errmsg)

    form(action=`/course/info/${courseid}/${quizid}/start`, method='post', novalidate=true).needs-validation
        .container-fluid.p-0
            .row
                .col
                    .btn-group(role="group", aria-label="Toolbar").mb-2
                        if (redirect)
                            a#backBtn.btn.btn-danger(href=`/dashboard`) Go Back
                        else
                            a#backBtn.btn.btn-danger(href=`/course/info/${courseid}`) Go Back
                    if quiz.attempts === "Unlimited"
                        .alert.alert-warning(role='alert')= `Attempt: Unlimited | Duration: ${quiz.timelimit}`
                    else
                        .alert.alert-warning(role='alert')= `Attempt: ${quiz.attemptcount.count}/${quiz.attempts} | Duration: ${quiz.timelimit}`
                    if quiz.prev
                        .alert.alert-info(role='alert')= `You have an existing uncompleted attempt saved. Click "Resume Quiz" to resume that attempt`
            .row
                .col
                    .card
                        .card-header Instructions
                        .card-body
                            if quiz.preinstructions
                                span !{quiz.preinstructions}
                            else
                                p No instructions available for quiz
                .col-3
                    .card
                        .card-header Quiz Description
                        .card-body
                            if quiz.description
                                span !{quiz.description}
                            else
                                p No description available for quiz
            .row.mt-4
                .col
                    // Password
                    if quiz.password || quiz.passwordgen
                        .form-group.required.mr-2
                            input.form-control#pw(type='text', placeholder='Password for quiz', required=true, name='pw')
                            div.invalid-feedback.w-50 Password is required
                .col-3
                    .form-group.float-right.btn-group(role="group", aria-label="Submission")
                        if quiz.passwordgen && genPwApprove
                            button.btn.btn-warning#pwgenbtn(type='button') Generate Quiz OTP
                        unless quiz.prev
                            button.btn.btn-primary(type='submit') Start Quiz
                        else
                            a.btn.btn-primary(href=`/attempt/${quiz.prev}/qn/1`) Resume Quiz
    include ../meta/formvalidation
    if quiz.passwordgen && genPwApprove
        .modal.fade#pwModal(tabindex="-1", role="dialog", aria-labelledby="pwGenTitle", aria-hidden=true)
            .modal-dialog.modal-dialog-centered(role="document")
                .modal-content
                    .modal-header
                        h5.modal-title#pwGenTitle Generated OTP Password
                        button(type="button", data-dismiss="modal", aria-label="Close").close
                            span(aria-hidden="true") &times;
                    .modal-body
                        p Use/Provide this OTP password for quiz takers to access this quiz.
                        h1#genPwText
                        p OTP expires on:
                            span#genPwTTL= "Calculating"
                    .modal-footer
                        button.btn.btn-secondary(type="button")#regenPw Regenerate OTP
                        button.btn.btn-danger(type="button", data-dismiss="modal") Close

        script.
            $("#pwgenbtn").click(() => {
                $.ajax({url: `/course/info/#{courseid}/#{quizid}/genpw`, dataType: 'json', type: 'post', async: true,
                    success: (data) => {
                        if (data.success) {
                            $("#genPwText").text(data.pw);
                            let date = new Date();
                            date.setSeconds(date.getSeconds() + data.ttl);
                            $("#genPwTTL").text(date);
                            $("#pwModal").modal();
                        }
                    }
                });
            });
            $("#regenPw").click(() => {
                $.ajax({url: `/course/info/#{courseid}/#{quizid}/genpw`, dataType: 'json', type: 'post', data: {forceRefresh: true}, async: true,
                    success: (data) => {if (data.success) {$("#genPwText").text(data.pw);let date = new Date();date.setSeconds(date.getSeconds() + data.ttl);$("#genPwTTL").text(date);}}
                });
            });

