extends ../layouts/navbar
include ../components/successerrorbox

block content
    h2 Quiz Submitted Successfully!
    +successerror(sucmsg, errmsg)
    p Your quiz has been successfully submitted!
    //- include ../survey/form
    .modalcontainer
        // Trigger the modal with a button
        button.open.btn.btn-info.btn-lg(type='button' data-toggle='modal' data-target='#SurveyModal' style='display: none;') Open Modal
        // Modal
        #SurveyModal.modal.fade(role='dialog')
            .modal-dialog
                .modal-content
                    .modal-header.text-align-center.text-center
                        button.close(type='button' data-dismiss='modal') ×
                        h4.modal-title Quiz Experience Survey
                    .modal-body.text-align-center.text-center
                        include ../survey/form

    h4.mt-5 Submission Details
    p Submission ID:
        span= ` #${submissionData.quizattemptid}`
    p Submission Date:
        span= ` ${submissionData.submitteddate}`
    p Time Taken:
        span= ` ${submissionData.durationString}`
    p Quiz:
        span= ` ${submissionData.quizname}`
    p Course:
        span= ` [${submissionData.code}] ${submissionData.coursename}`
    .btn-group(role="group", aria-label="Toolbar").mt-4.float-right
        if (submissionData.showgrade === 1 || submissionData.studentreport === 1)
            a(href=`/attempt/${submissionData.quizattemptid}/getReportStudentAttempt`).btn.btn-secondary View Results
        a(href=`/course/info/${submissionData.courseid}`).btn.btn-primary Back to Course Page

                script.
                    $(document).ready(function(){
                        $('.open').click(); 
                    })
                    // Prevent F5 key from refreshing
                    function disableF5(e) { if ((e.which || e.keyCode) == 116 || (e.which || e.keyCode) == 82) e.preventDefault(); };
                    $(document).ready(function(){
                        $(document).on("keydown", disableF5);
                    });

