extends ../layouts/navbar
include ../components/successerrorbox
include ../components/editor

block content
    h1 Add Language to Question
    +successerror('', errmsg)

    form(action=`/questions/info/${data.questionbankid}/qninfo/${data.id}/addlang`, method='post', novalidate=true).needs-validation

        .container-fluid.p-0
            .row.mt-2
                .col
                    h5 Question Limits
            .row
                .col
                    .form-group.required
                        label(for='lang') Language
                        select.form-control#lang(required=true, name='lang')
                            option(hidden=true, disabled=true, selected=true, value="") Select Language to add

                            each lang in languages
                                unless selLanguages.includes(lang.templatekey)
                                    option(value=lang.templatekey)= lang.name
                        div.invalid-feedback Please select a language for this question
                .col-4
                    .form-group
                        label(for='filename') File Name
                        input.form-control#filename(type='text', placeholder='Filename', name='filename', value= languages.filename, pattern="^[a-zA-Z0-9.]+$")
                        small#filenameHelp.form-text.text-muted Leave empty to allow students to set their own filename if needed
                        div.invalid-feedback Filename must not contain spaces
            .row
                .col
                    .form-group
                        label Template
                        +codeEditor('', 1)
                        small#codeEditHelp.form-text.text-muted Mark lines with %%* and *%% to denote read-only lines
                        input.form-control#code(type='hidden', name='code')
                        script $('#lang').on('change', (e) => setlanguage($(e.target).val(), true, '#filename'));
                        script.
                            $(document).ready(() => {
                                let editor = ace.edit("codeEditor");
                                editor.getSession().on('change', () => {
                                    $('#code').val(editor.getSession().getValue());
                                });
                            });
            .row
                .col
                    .mt-2
                        button.btn.btn-primary(type='submit') Add Language
                        a.btn.btn-danger.ml-2(href=`/questions/info/${data.questionbankid}/qninfo/${data.id}`) Cancel

        include ../meta/richtexteditor
        include ../meta/formvalidation
        script $(() => $('[data-toggle="tooltip"]').tooltip());

